:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-taxt: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

/* =========== COMMON STILES =========== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--white, #ffffff);
  color: #434455;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  cursor: pointer;
}

button:focus,
button:active {
  color: #404bbf;
}

a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-brand);
}

img {
  display: block;
  min-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff;
}

p {
  color: #434455;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}

/* =========== REUSABLE STILES =========== */

.section {
  padding: 96px 0;
  margin-right: auto;
  margin-left: auto;
}

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.social-links__item {
  width: 40px;
  height: 40px;
}

.item-container {
  padding: 32px 0;
  text-align: center;
}

.accent-color {
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== HEADER STILES =========== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1750px;
}

.header__contacts-list {
  display: flex;
  gap: 40px;
}

.header__logo,
.footer__logo,
.logo-span {
  display: inline-block;
}

.footer__logo,
.header__logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header__logo span {
  color: #2e2f42;
}

.header__nav,
.header__list-item,
.header__link,
.header__list {
  letter-spacing: 0.02em;
}

.header__link {
  color: #404bbf;
}

.header__link::after {
  color: #404bbf;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__list {
  display: none;
}

.header__list-item:first-child .header__link {
  color: #404bbf;
}

.header-container .header__list-item:first-child .header__link::after {
  background-color: #404bbf;
}

.header__logo {
  position: relative;
}

.header__link,
.header__logo {
  padding: 25px 0;
}

.header__link {
  color: var(--dark);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  position: relative;
  display: flex;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: #404bbf;
}

.header__link:hover::after,
.header__link:focus::after,
.header__logo:hover::after,
.header__logo:focus::after,
.contacts-list__item:hover .header__contacts-item {
  background: #404bbf;
}

.header-container .header__contacts {
  display: none;
}

.header__contacts-item {
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== HAMBUGER MENU STILES =========== */

.hamburger-menu-modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 72px 24px 40px 16px;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 9999;
}

.menu-btn {
  display: block;
  background: #fff;
  border: none;
}

.hamburger-menu-modal .close-btn {
  background-color: #fff;
}

.hamburger-menu-modal .header__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hamburger-menu-modal .header__link {
  justify-content: start;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 0.1em;
}

.hamburger-menu__contacts .header__contacts {
  margin-bottom: 48px;
}

.hamburger-menu__contacts .header__contacts-list {
  flex-direction: column;
}

.hamburger-menu__contacts .header__contacts-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.hamburger-menu__contacts .footer__social-links {
  justify-content: space-between;
}

.hamburger-menu__contacts .footer__social-links-item {
  background-color: #fff;
}

.header__contacts-item.accent-color {
  color: #4d5ae5;
}

/* =========== HERO STILES =========== */

.hero-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  max-width: 1440px;
  background-color: var(--dark);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section__title {
  color: var(--white);
  text-align: center;
  max-width: 496px;
  margin: 0 auto 72px;
}

.hero-section__btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--primary-brand);
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__btn:hover {
  background-color: #404bbf;
}

/* =========== ABOUT STILES =========== */

.about-section {
  display: flex;
  justify-content: center;
}

.about-sectioon__container {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
  height: 112px;
}

.about-section__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.about-section__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-section__item .item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 0.72px;
  text-align: center;
}

.about-section__item .item__description {
  font-weight: 500;
}

/* =========== OUR TEAM STILES =========== */

.our-team {
  background-color: var(--light);
}

.our-team__title,
.portfolio__title {
  margin-bottom: 72px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.social-links__item {
  width: 40px;
  height: 40px;
}

.list__item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #ffffff);
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.our-team__list .list__item {
  width: 264px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list__item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employee__social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.employee__social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee__social-link:hover,
.employee__social-link:focus {
  background-color: #404bbf;
}

.employee__social-link-icon {
  fill: #f4f4fd;
}

/* =========== PORTFOLIO STILES =========== */

.portfolio .item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: start;
}

.item-title {
  margin-bottom: 8px;
}

.item-description {
  color: #434455;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.item__description {
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  display: flex;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  letter-spacing: 0.02em;
  background: #4d5ae5;
  color: #f4f4fd;
}

.overlay-wrapper:hover .overlay-description {
  transform: translateY(0%);
}

.portfolio__list .list__item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list img {
  width: 288px;
  height: 280px;
}

/* =========== FOOTER STILES =========== */

.footer {
  padding: 100px 0;
  background-color: var(--dark);
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 72px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-title {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
}

.footer__company-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin: 0 0 16px;
}

.footer__logo span {
  color: #f4f4fd;
}

.footer__description {
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer__social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer__social-links {
  display: flex;
  gap: 16px;
}

.footer__social-links-item {
  background-color: var(--dark);
  width: 40px;
  height: 40px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--success, #31d0aa);
}

.footer__social-link-icon {
  fill: #f4f4fd;
}

.footer-suscribtion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.footer-form__label {
  display: flex;
  gap: 24px;
}

.footer-form .form-input {
  margin: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.footer-form .form-input::placeholder {
  color: #fff;
}

.footer-form .form-btn {
  min-width: 165px;
  border-radius: 4px;
  border: none;
}

.subscribtion-btn-icon {
  flex-shrink: 0;
  fill: #fff;
}

/* =========== MODAL STILES =========== */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  background: #fcfcfc;
}

.form-label {
  display: block;
  flex-direction: column;
  position: relative;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-input:not(.form-input[type='checkbox'], .form-input[name='user-comment']),
.form-btn {
  width: 100%;
  height: 40px;
}

.footer-form .form-input[name='email'] {
  width: 264px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 16px;
  padding: 8px 24px;
  width: 165px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
}

.order-form .form-btn {
  padding: 16px 32px;
  width: 167px;
}

.privacy-container {
  margin: 0 0 24px;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
}

.privacy-policy {
  text-decoration: underline;
}

.is-open {
  display: flex;
}

.order-form-container {
  margin-bottom: 8px;
}

.comment-container {
  margin-bottom: 16px;
}

.fake-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.form-input.checkbox:checked + .checkbox-container .fake-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.form-input.checkbox:focus + .checkbox-container .fake-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.order-form .form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

/* =========== MEDIA QUERIES =========== */

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .header__list {
    display: flex;
    gap: 40px;
  }

  .header__contacts {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  .header__logo {
    font-size: 18px;
  }

  .header__nav {
    justify-content: space-between;
    width: auto;
  }

  .header__contacts-list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }

  .contacts-list__item,
  .header__contacts-item {
    font-size: 12px;
    line-height: 117%;
  }

  .header__list {
    display: flex;
  }

  .hero-section {
    padding: 112px 0;
  }

  .hero-section__title {
    margin-bottom: 36px;
  }

  .about-section__list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .about-section__item {
    width: calc((100% - 24px) / 2);
  }

  .about-section__item .item-title {
    text-align: left;
  }

  .our-team__list {
    gap: 64px 24px;
  }

  .portfolio__list {
    gap: 72px 24px;
  }

  .portfolio__list .list__item {
    width: 356px;
  }

  .portfolio__list img {
    width: 356px;
    height: 300px;
  }

  .footer {
    padding: 96px 0;
  }

  .footer-container {
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer__company-slogan,
  .footer__social {
    align-items: start;
  }

  .footer-suscribtion {
    align-items: start;
  }

  .footer-form {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    min-width: 1158px;
    padding: 0 15px;
  }

  .header-container {
    padding: 0 156px;
  }

  .header__contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-list__item,
  .header__contacts-item {
    font-size: 16px;
    padding-bottom: 24px;
    padding-top: 24px;
    line-height: 150%;
  }

  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-section__title {
    margin-bottom: 48px;
  }

  .about-section__list {
    gap: 24px;
  }

  .about-sectioon__container {
    display: flex;
  }

  .about-section__item {
    width: 264px;
  }

  .about-section__item .item-title {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.4px;
  }

  .about-section__item .item__description {
    font-weight: 400;
  }

  .portfolio__list {
    gap: 48px 24px;
  }

  .portfolio__list .list__item {
    width: 360px;
  }

  .portfolio__list img {
    width: 360px;
    height: 300px;
  }

  .footer-container {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer__company-slogan {
    margin-right: 120px;
  }

  .footer__social {
    margin-right: 80px;
  }
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero-bg@2x.jpg);
  }
}
